.Selection__wrapper {
    height: 100vh;
    display: flex;
}

.Selection__container {
    width: 80%;
    margin: auto;
    // background-color: rgb(233, 245, 250);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #ffffff;
}

.Selection__back {
}

.Selection__header {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: bold;
}

.Selection__courses {
    max-height: 60vh;
}

.Selection__course {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    background-color: red;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 40px;
    background-image: linear-gradient(to right, #da22ff 0%, #9733ee 51%, #da22ff 100%);
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    &:hover {
        opacity: 0.7;
        background-position: right center; /* change the direction of the change here */
    }
}

.Selection__course--content {
    flex: 1;
    text-align: center;
    margin: 10px 0;
}

.Selection__course--header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;

    .Selection__course--icon {
        margin-right: 10px;
    }
}

.Selection__course--description {
    display: block;
    font-size: 1rem;
}

.Selection__back-btn {
    display: flex;
    justify-content: space-between;
}
