.login__wrapper {
    display: flex;
    margin: 20px 40px;
    padding: 20px;
    border-radius: 20px;
}

.wrapper__left {
    width: 40%;
}

.wrapper__left-content {
    margin: 20px 0 0 40px;
}

.login__header {
    color: var(--primary-color);
    padding: 20px 0 40px 0;
}

.login__input {
    margin-top: 25px !important;
}

.formLogin__link {
    padding: 30px 0 !important;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--primary-color);
        padding-left: 10px;
        &:hover {
            color: #600670;
        }
    }

    .formLogin__link-separate {
        display: block;
        padding-right: 10px;
        border-right: 2px solid #ccc;
    }
}

.wrapper__right {
    width: 60%;
    align-items: center;
}

.logo {
    width: 100%;
    text-align: center;
    img {
    }
}
