.login__wrapper {
    height: 100vh;
    display: flex;
    padding: 40px;
    background-color: rgb(233, 245, 250);
}

.wrapper__left {
    align-self: center;
    width: 40%;
    position: relative;
}

.wrapper__left-content {
    margin-left: 80px;
}

.login__header {
    color: var(--primary-color);
    // padding: 20px 0 40px 0;
}

.login__input {
    margin-top: 25px !important;
}

.formLogin__link {
    padding: 30px 0 !important;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a {
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--primary-color);
        padding-left: 10px;
        &:hover {
            color: #880c9e;
            text-decoration: underline;
        }
    }

    // .formLogin__link-separate {
    //     display: block;
    //     padding-right: 10px;
    //     border-right: 2px solid #ccc;
    // }
}

// css visibility errors login
.validate__error {
    color: #d32f2f;
    font-size: 0.75rem;
}

.wrapper__right {
    width: 60%;
    align-items: center;
    align-self: center;
}

.logo {
    width: 100%;
    text-align: center;
    img {
    }
}

.login__wrapper--home {
    position: absolute;
    right: 0;
}

@media screen and (max-width: 700px) {
    .wrapper__right {
        display: none;
    }
    .wrapper__left {
        width: 100%;
    }
    .wrapper__left-content {
        margin-left: 0;
    }
}
