.LearnVd__wrapper {
    height: 100vh;
    display: flex;
} 

.LearnVd__container {
    width: 70%;
    height: 90vh;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #ffffff;
} 

.LearnVd__nav {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
} 

.LearnVd__title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    text-align: center;
}

.LearnVd__content {
    display: flex;
}

.LearnVd__content--video {
    margin: auto;
    margin-top: 10px;
    width: 80%;
    height: 65vh;
    border: none;
}
