.register__wrapper {
    height: 100vh;
    display: flex;
    padding: 40px;
    background-color: rgb(233, 245, 250);
}


.header_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.register__header {
    color: var(--primary-color);
}

.register__input {
    margin-top: 20px !important;
}

.register__btn {
    margin-top: 40px !important;
}


.register__btn-login {
    color: rgb(156, 39, 176);
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    &:hover {
        color: #880c9e;
        text-decoration: underline;
    }
}


