.register__wrapper {
    display: flex;
    margin: 20px 40px;
    padding: 20px;
    background-color: #fff3eb;
    border-radius: 20px;
}

.wrapper__left {
    width: 40%;
}

.wrapper__left-content {
    margin: 20px 0 0 40px;
}

.header_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.register__header {
    color: var(--primary-color);
    padding-top: 20px;
}

.register__input {
    margin-top: 10px !important;
}

.register__btn {
    margin-top: 40px !important;
}

.wrapper__right {
    width: 60%;
    align-items: center;
}

.logo {
    width: 100%;
    text-align: center;
    img {
    }
}
