@import 'normalize.css';

.App {
    /* background: url('https://wallpaperaccess.com/full/2638338.jpg')
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: rgb(233, 245, 250);
}